<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set default log level -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
    
    <!-- ISL specific logging -->
    <logger name="com.intuit.isl" level="INFO" />
</configuration>

