name: Publish to Maven Central

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (e.g., 2.4.20)'
        required: true
        type: string

jobs:
  publish:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Update version
      if: github.event.inputs.version != ''
      run: |
        sed -i 's/version = ".*"/version = "${{ github.event.inputs.version }}"/' build.gradle.kts
        
    - name: Build artifacts
      run: ./gradlew build --no-daemon --stacktrace -x test
      
    # temp ignore to speed up the build
    # - name: Run tests
    #   run: ./gradlew test --no-daemon --stacktrace
    
    - name: Setup PGP key for signing
      run: |
        # Decode the base64-encoded PGP key
        echo "${{ secrets.SIGNING_KEY }}" | base64 --decode > signing_key.asc
        # Set it as environment variable for next step using GitHub Actions environment file
        echo "SIGNING_KEY<<EOF" >> $GITHUB_ENV
        cat signing_key.asc >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
        rm -f signing_key.asc
        echo $OSSRH_USERNAME
        echo $SIGNING_KEY_ID
        
    - name: List env
      env:
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      run: |
        echo "User"
        echo $OSSRH_USERNAME
        echo "User2"
        echo ${{ secrets.OSSRH_USERNAME }}
        echo "Key"
        echo $SIGNING_KEY_ID

        
    - name: Publish to Maven Central
      env:
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      run: ./gradlew publish --no-daemon --stacktrace
      
    # - name: Publish to GitHub Packages
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   run: ./gradlew publishAllPublicationsToGitHubPackagesRepository --no-daemon --stacktrace
    #   continue-on-error: true

